@tailwind base;
@tailwind components;
@tailwind utilities;


.hidden-scrollbar::-webkit-scrollbar {
  display: none;
}

.visible-scrollbar::-webkit-scrollbar {
  width: 5px;
  height: 8px;
  background-color: #fff; /* or add it to the track */
}

.visible-scrollbar::-webkit-scrollbar-thumb {
  background: #000;
  height: 8px;
}